.contenedorMenu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    input{
        height: 20px;
    }
    .contenidoBuscador{
        display: flex;
        align-items: center;
    }
    
    .LogoMenu{
       img{
           width: 330px;
       }
    }
    .contenidoBotones{
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
    Button{
        width: 90px;
    }
}



